.body{
    background-color:bisque;
    background-image:url('../images/img1.jpeg');
    background-size: cover;
    background-attachment: fixed;
}
.p1{
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.form_1{
        display:flex;
        justify-content: center;
        font-size: large;
}

.center{
    display:flex;
    justify-content: center;
    font-size: auto;
}

.loginBtn1{
    background-color:aquamarine;
    color:black;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
}

.registerBtn1{
    background-color:aquamarine;
    color:black;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
}

.loginBtn2{
    background-color:aquamarine;
    color:black;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.registerBtn2{
    background-color:aquamarine;
    color:black;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.loginHome{
    background-color:aquamarine;
    color:black;
    font-size: 16px;
    cursor: pointer;
    margin-left: 65px;
}

.registerHome{
    background-color:aquamarine;
    color:black;
    font-size: 16px;
    cursor: pointer;
    margin-left: 65px;
}

.header{
    justify-content: right;
    margin-right: 50px;
}

#shipping{
    width: 100%;
  height: 150px;
}

#email{
    width: 5%;
}

.hmbtn1{
    background-color:aquamarine;
    color:black;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.hmbtn2{
    background-color:aquamarine;
    color:black;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
}